backend/node_modules
backend/config/config.env
backend/package-lock.json
frontend/node_modules/
frontend/config/config.env
frontend/package-lock.json
logs/rotate*
ghCardSelfie/
ghCardUpload/
# dependencies

frontend/.pnp
.pnp.js
frontend/.vscode
frontend/.vscode*
# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*